name: Ruby

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: [ '2.7', '3.0', '3.1', '3.2', '3.3' ]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@b256bd96bb4867e7d23e92e087d9bb697270b725
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Build and test
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3
        find ./spec/fixtures -type f -exec chmod 600 -- {} +
        bundle exec rspec
